# Ignorar archivos de compilación
#*.class
#*.jar

# Ignorar directorio de dependencias de Maven
/venv
/scrapy_projects

# Ignorar archivos de apuntes privados
/hadoop/Proyecto_1_-_Creacion_y_despliegue_de_un_cluster_HADOOP_en_DOCKER/1-analisis_imagen_base.ipynb
/hadoop/Proyecto_1_-_Creacion_y_despliegue_de_un_cluster_HADOOP_en_DOCKER/2-analisis_namenode.ipynb
/hadoop/Proyecto_1_-_Creacion_y_despliegue_de_un_cluster_HADOOP_en_DOCKER/3-analisis_resource_manager.ipynb
/hadoop/Proyecto_1_-_Creacion_y_despliegue_de_un_cluster_HADOOP_en_DOCKER/4-analisis_datanode_nodemanager.ipynb
/hadoop/Proyecto_1_-_Creacion_y_despliegue_de_un_cluster_HADOOP_en_DOCKER/5-despliegue_ecosistema_hadoop.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK/1-despliegue_ecosistema_hadoop.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK/2-apuntes.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK/Hadoop_Base/1-analisis_imagen_base.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK/Hadoop_Base/2-analisis_nodo_master.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK/Hadoop_Base/3-analisis_nodo_worker.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK/Hadoop_Hive/1-analisis_nodo_hive.ipynb
/hadoop/Proyecto_2_-_Creacion_y_despliegue_de_un_cluster_HADOOP_con_HIVE_y_SPARK
/hadoop/apuntes.ipynb
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/docker-compose.yaml
/conceptos_big_data
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/puertos.txt
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/reset.sh
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/restart.sh
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/start.sh
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/stop.sh
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/docs
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/material
/hadoop/Proyecto_2_-_Despliegue_de_un_cluster_HADOOP_con_HIVE_SPARK_AIRFLOW_HUE_POSTGRES/mnt
/hadoop/Proyecto_6_-_ETL_utilizando_PYTHON_PANDAS_HDFS_SPARK_POSTGRES/1-Preparacion_ambiente
/hadoop/Proyecto_6_-_ETL_utilizando_PYTHON_PANDAS_HDFS_SPARK_POSTGRES/2-Configuracion_del_proyecto_en_PyCharm
/hadoop/Proyecto_6_-_ETL_utilizando_PYTHON_PANDAS_HDFS_SPARK_POSTGRES/3-Indicar_rutas_de_archivos_en_PyCharm
/hadoop/Proyecto_6_-_ETL_utilizando_PYTHON_PANDAS_HDFS_SPARK_POSTGRES/4-Proyecto
/hadoop/Proyecto_6_-_ETL_utilizando_PYTHON_PANDAS_HDFS_SPARK_POSTGRES/produccion/src/main/python/bin/create_database.py
/hadoop/Proyecto_6_-_ETL_utilizando_PYTHON_PANDAS_HDFS_SPARK_POSTGRES/desarrollo.ipynb
/hadoop/Proyecto_7_-_Integracion_SPARK_HIVE/Incremental_load
